@import "_fontface";
@import url(http://fonts.googleapis.com/css?family=Cutive+Mono|Marcellus|Montaga);


$base-font-size: 18px;
$base-line-height: 24px;
$font-family-minute-labs: 'sf_cartoonist_handregular', Helvetica, Arial, sans-serif;
$font-family-sans-serif: 'colaborate-light', Helvetica, Arial, sans-serif;

$phi: 1.61803398875;

@import "compass/reset";
@import "compass/css3";
@import "compass/typography";
@import "_animations";

body {
    font: 112.5%/1.3 $font-family-sans-serif;
    color: #333;
}

p {
    margin-bottom: 1em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.4em;
}

#viewport {
    // position: relative;
    width: 600px;
    margin: 2em auto;
    z-index: 1;
}

// loading box
#loading-status {
    position: absolute;
    bottom: 20%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-bottom: -100px;
    text-align: center;
    font: 30px/1 $font-family-minute-labs;

    .loading-text {
        
        .dots {
            font-size: 6px;
            margin-right: -(1+1.2)*3em;
            
            span {
                display: inline-block;
                width: 1em;
                height: 1em;
                margin-left: 1.2em;
                background: #333;
                @include opacity(0.4);
                @include border-radius(50%);
                
                -webkit-animation: loading-dots 3s infinite;
                   -moz-animation: loading-dots 3s infinite;
                    -ms-animation: loading-dots 3s infinite;
                     -o-animation: loading-dots 3s infinite;
                        animation: loading-dots 3s infinite;
            }
            span + span {
                -webkit-animation-delay: 1s;
                   -moz-animation-delay: 1s;
                    -ms-animation-delay: 1s;
                     -o-animation-delay: 1s;
                        animation-delay: 1s;
            }
            span + span + span {
                -webkit-animation-delay: 2s;
                   -moz-animation-delay: 2s;
                    -ms-animation-delay: 2s;
                     -o-animation-delay: 2s;
                        animation-delay: 2s;
            }
        }
    }
}



// intro stuff
#ripple-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
#intro-text {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 20em;
    margin-left: -10em;
    margin-top: -4em;
    padding:1.5em;
    z-index: 1;
    font: 24px/1.3 $font-family-minute-labs;
    color: #504D40;
    
    @include text-shadow(0 0 10px rgba(255, 255, 255, 1));
}


// general stuff
#interactions { 
    
    margin: auto;

    .label {
        font: 30px/1 Helvetica, Arial;
        font-family: 'Cutive Mono', serif;
        font-family: 'Montaga', serif;
        font-family: 'Marcellus', serif;
    }
}

.description {
    width: 600px;
    margin: auto;
}