@import "_fontface";
@import url(http://fonts.googleapis.com/css?family=Cutive+Mono|Marcellus|Montaga);


$base-font-size: 18px;
$base-line-height: 24px;
$font-family-minute-labs: 'sf_cartoonist_hand', Helvetica, Arial, sans-serif;
$font-family-sans-serif: 'colaborate-light', Helvetica, Arial, sans-serif;

$phi: 1.61803398875;

$lightText: #F5F3D1;

$btnBg: #333;
$btnBgHover: #794D1F;

$grid-background-force-fluid: true;
$blueprint-liquid-grid-columns: 24;
$blueprint-liquid-grid-margin: 10/980 * 100%;
$blueprint-liquid-grid-width: ((100% - $blueprint-liquid-grid-margin * ($blueprint-liquid-grid-columns - 1))/$blueprint-liquid-grid-columns);
$blueprint-liquid-container-width: 100%;
$blueprint-liquid-container-min-width: none;

@import "compass/reset";
@import "compass/css3";
@import "compass/typography";
@import "blueprint/liquid";

@import "_animations";

* {
    @include box-sizing( border-box );
}

body {
    font: 112.5%/1.3 $font-family-sans-serif;
    color: #333;
}

em {
    font-style: italic;
}

strong {
    font-style: 700;
}

p {
    margin-bottom: 1em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.4em;
}

#viewport {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
    @include transform( translateZ(0) );
}

#pages {
    width: 100%;
    height: 100%;

    @include transition( transform 1s ease-out );

    > section {
        position: relative;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid #888;
    }
}

// buttons

.btn {
    display: inline-block;
    text-align: center;
    background: $btnBg;
    color: $lightText;
    padding: 0.4em 1em;
    border: 1px solid #444;
    text-decoration: none;
    font: 30px/1 $font-family-minute-labs;
    letter-spacing: 1px;
    outline: none;
    @include border-radius( 5px );
    @include transition( background .3s ease-out );

    &:hover {
        background: $btnBgHover;
    }

    &:active {
        background: $btnBg;
    }
}

// paginator
#paginator {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 5px;
    width: 30px;
    height: 100px;
    margin-top: -50px;

    .btn {
        padding: 0.2em;
        width: 100%;
    }

    input {
        width: 100%;
        border: 1px solid #333;
        background: #444;
        color: $lightText;
        font-size: 20px;
        text-align: center;
        padding: 0.2em 0;
        outline: none;
        @include border-radius( 5px );

        &:focus {
            background: $btnBgHover;
        }
    }
}

// loading box
#loading-status {
    position: absolute;
    bottom: 20%;
    left: 50%;
    width: 170px;
    height: 200px;
    margin-left: -85px;
    margin-bottom: -100px;
    text-align: center;
    letter-spacing: 1px;
    font: 30px/1 $font-family-minute-labs;

    .loading-text {
        
        .dots {
            font-size: 6px;
            margin-right: -(1+1.2)*3em;
            
            span {
                display: inline-block;
                width: 1em;
                height: 1em;
                margin-left: 1.2em;
                background: #333;
                @include opacity(0.4);
                @include border-radius(50%);
                
                -webkit-animation: loading-dots 3s infinite;
                   -moz-animation: loading-dots 3s infinite;
                    -ms-animation: loading-dots 3s infinite;
                     -o-animation: loading-dots 3s infinite;
                        animation: loading-dots 3s infinite;
            }
            span + span {
                -webkit-animation-delay: 1s;
                   -moz-animation-delay: 1s;
                    -ms-animation-delay: 1s;
                     -o-animation-delay: 1s;
                        animation-delay: 1s;
            }
            span + span + span {
                -webkit-animation-delay: 2s;
                   -moz-animation-delay: 2s;
                    -ms-animation-delay: 2s;
                     -o-animation-delay: 2s;
                        animation-delay: 2s;
            }
        }
    }

    .btn {
        margin-top: 0.2em;
    }
}



// intro stuff
#ripple-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
#intro-text {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 20em;
    margin-left: -10em;
    margin-top: -4em;
    padding:1.5em;
    z-index: 1;
    font: 24px/1.3 $font-family-minute-labs;
    letter-spacing: 1px;
    color: #504D40;
    
    @include text-shadow(0 0 10px rgba(255, 255, 255, 1));
}


// general stuff

// quantized volume diagrams
#page-quantized-volume {
    @include container;
    padding: 10%;


    font-size: 20px;

    .desc {
        width: 80%;
        margin: 2em auto;
    }

    .col {
        text-align: center;
        @include column( 12 );
    }
    .col:last-child {
        @include column( 12, true );
    }

    input {
        display: block;
        width: 80%;
        margin: 1em auto;
    }
    canvas {
        display: block;
        width: 300px;
        margin: auto;
        border: #444;
        background: #333;
    }
}


// interaction diagram
#interactions { 
    
    margin: auto;

    .label {
        font: 30px/1 Helvetica, Arial;
        font-family: 'Cutive Mono', serif;
        font-family: 'Montaga', serif;
        font-family: 'Marcellus', serif;
    }
}

.description {
    width: 600px;
    margin: auto;
}


