@import url(http://fonts.googleapis.com/css?family=Cutive+Mono|Marcellus|Montaga);
@font-face {
  font-family: 'sf_cartoonist_hand';
  src: url('../fonts/SF-Cartoonist-Hand/sfcartoonisthand_regular_macroman/SF_Cartoonist_Hand-webfont.eot');
  src: url('../fonts/SF-Cartoonist-Hand/sfcartoonisthand_regular_macroman/SF_Cartoonist_Hand-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/SF-Cartoonist-Hand/sfcartoonisthand_regular_macroman/SF_Cartoonist_Hand-webfont.woff') format("woff"), url('../fonts/SF-Cartoonist-Hand/sfcartoonisthand_regular_macroman/SF_Cartoonist_Hand-webfont.ttf') format("truetype"), url('../fonts/SF-Cartoonist-Hand/sfcartoonisthand_regular_macroman/SF_Cartoonist_Hand-webfont.svg#sf_cartoonist_handregular') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sf_cartoonist_hand';
  src: url('../fonts/SF-Cartoonist-Hand/sfcartoonisthand_bold_macroman/SF_Cartoonist_Hand_Bold-webfont.eot');
  src: url('../fonts/SF-Cartoonist-Hand/sfcartoonisthand_bold_macroman/SF_Cartoonist_Hand_Bold-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/SF-Cartoonist-Hand/sfcartoonisthand_bold_macroman/SF_Cartoonist_Hand_Bold-webfont.woff') format("woff"), url('../fonts/SF-Cartoonist-Hand/sfcartoonisthand_bold_macroman/SF_Cartoonist_Hand_Bold-webfont.ttf') format("truetype"), url('../fonts/SF-Cartoonist-Hand/sfcartoonisthand_bold_macroman/SF_Cartoonist_Hand_Bold-webfont.svg#sf_cartoonist_handbold') format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'sf_cartoonist_hand';
  src: url('../fonts/SF-Cartoonist-Hand/sfcartoonisthand_italic_macroman/SF_Cartoonist_Hand_Italic-webfont.eot');
  src: url('../fonts/SF-Cartoonist-Hand/sfcartoonisthand_italic_macroman/SF_Cartoonist_Hand_Italic-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/SF-Cartoonist-Hand/sfcartoonisthand_italic_macroman/SF_Cartoonist_Hand_Italic-webfont.woff') format("woff"), url('../fonts/SF-Cartoonist-Hand/sfcartoonisthand_italic_macroman/SF_Cartoonist_Hand_Italic-webfont.ttf') format("truetype"), url('../fonts/SF-Cartoonist-Hand/sfcartoonisthand_italic_macroman/SF_Cartoonist_Hand_Italic-webfont.svg#sf_cartoonist_handitalic') format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'pt-sans';
  src: url('../fonts/PT-Sans/ptsans_regular_macroman/PTS55F-webfont.eot');
  src: url('../fonts/PT-Sans/ptsans_regular_macroman/PTS55F-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/PT-Sans/ptsans_regular_macroman/PTS55F-webfont.woff') format("woff"), url('../fonts/PT-Sans/ptsans_regular_macroman/PTS55F-webfont.ttf') format("truetype"), url('../fonts/PT-Sans/ptsans_regular_macroman/PTS55F-webfont.svg#ptsansregular') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pt-sans';
  src: url('../fonts/PT-Sans/ptsans_bold_macroman/PTS75F-webfont.eot');
  src: url('../fonts/PT-Sans/ptsans_bold_macroman/PTS75F-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/PT-Sans/ptsans_bold_macroman/PTS75F-webfont.woff') format("woff"), url('../fonts/PT-Sans/ptsans_bold_macroman/PTS75F-webfont.ttf') format("truetype"), url('../fonts/PT-Sans/ptsans_bold_macroman/PTS75F-webfont.svg#ptsansbold') format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'pt-sans';
  src: url('../fonts/PT-Sans/ptsans_italic_macroman/PTS56F-webfont.eot');
  src: url('../fonts/PT-Sans/ptsans_italic_macroman/PTS56F-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/PT-Sans/ptsans_italic_macroman/PTS56F-webfont.woff') format("woff"), url('../fonts/PT-Sans/ptsans_italic_macroman/PTS56F-webfont.ttf') format("truetype"), url('../fonts/PT-Sans/ptsans_italic_macroman/PTS56F-webfont.svg#ptsansitalic') format("svg");
  font-weight: normal;
  font-style: italic;
}

/* line 17, /Users/wellcaffeinated/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /Users/wellcaffeinated/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /Users/wellcaffeinated/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /Users/wellcaffeinated/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /Users/wellcaffeinated/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /Users/wellcaffeinated/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /Users/wellcaffeinated/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /Users/wellcaffeinated/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /Users/wellcaffeinated/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@-webkit-keyframes loading-dots {
  /* line 2, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/_animations.scss */
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
  }

  /* line 5, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/_animations.scss */
  33% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  /* line 8, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/_animations.scss */
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
  }
}

@-moz-keyframes loading-dots {
  /* line 14, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/_animations.scss */
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
  }

  /* line 17, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/_animations.scss */
  33% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  /* line 20, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/_animations.scss */
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
  }
}

@-ms-keyframes loading-dots {
  /* line 26, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/_animations.scss */
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
  }

  /* line 29, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/_animations.scss */
  33% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  /* line 32, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/_animations.scss */
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
  }
}

@-o-keyframes loading-dots {
  /* line 38, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/_animations.scss */
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
  }

  /* line 41, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/_animations.scss */
  33% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  /* line 44, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/_animations.scss */
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
  }
}

@keyframes loading-dots {
  /* line 50, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/_animations.scss */
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
  }

  /* line 53, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/_animations.scss */
  33% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  /* line 56, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/_animations.scss */
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
  }
}

/* line 33, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 37, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
body {
  font: 112.5%/1.3 "pt-sans", Helvetica, Arial, sans-serif;
  color: #333;
}

/* line 42, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
em {
  font-style: italic;
}

/* line 46, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
strong {
  font-weight: 700;
}

/* line 50, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
p {
  margin-bottom: 1em;
}

/* line 54, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
h1 {
  font-size: 2em;
}

/* line 58, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
h2 {
  font-size: 1.4em;
}

/* line 63, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 68, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
.right {
  float: right;
}

/* line 72, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
.cols-2 {
  min-width: none;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 75, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
.cols-2 .col {
  display: inline;
  float: left;
  overflow: hidden;
  width: 48.97959%;
  margin-right: 2.04082%;
}
/* line 80, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
.cols-2 .col:last-child {
  display: inline;
  float: left;
  overflow: hidden;
  width: 48.97959%;
  margin-right: 0;
}

/* line 86, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
#viewport {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 97, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
#pages {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s ease-out;
  -moz-transition: -moz-transform 1s ease-out;
  -o-transition: -o-transform 1s ease-out;
  transition: transform 1s ease-out;
}
/* line 103, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
#pages > section {
  position: relative;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #888;
}

/* line 113, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
.btn {
  display: inline-block;
  text-align: center;
  background: #333333;
  color: #f5f3d1;
  padding: 0.4em 1em;
  border: 1px solid #444;
  text-decoration: none;
  font: 30px/1 "sf_cartoonist_hand", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background 0.3s ease-out;
  -moz-transition: background 0.3s ease-out;
  -o-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
}
/* line 127, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
.btn:hover {
  background: #794d1f;
}
/* line 131, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
.btn:active {
  background: #333333;
}

/* line 137, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
#paginator {
  position: absolute;
  z-index: 2;
  top: 6px;
  right: 5px;
  width: 30px;
  height: 100px;
}
/* line 145, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
#paginator .btn {
  padding: 0.2em;
  width: 100%;
}
/* line 150, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
#paginator input {
  width: 100%;
  border: 1px solid #333;
  background: #444;
  color: #f5f3d1;
  font-size: 20px;
  text-align: center;
  padding: 0.2em 0;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 161, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
#paginator input:focus {
  background: #794d1f;
}

/* line 168, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
#loading-status {
  position: absolute;
  bottom: 20%;
  left: 50%;
  width: 170px;
  height: 200px;
  margin-left: -85px;
  margin-bottom: -100px;
  text-align: center;
  letter-spacing: 1px;
  font: 30px/1 "sf_cartoonist_hand", Helvetica, Arial, sans-serif;
}
/* line 182, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
#loading-status .loading-text .dots {
  font-size: 6px;
  margin-right: -6.6em;
}
/* line 186, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
#loading-status .loading-text .dots span {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 1.2em;
  background: #333;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: loading-dots 3s infinite;
  -moz-animation: loading-dots 3s infinite;
  -ms-animation: loading-dots 3s infinite;
  -o-animation: loading-dots 3s infinite;
  animation: loading-dots 3s infinite;
}
/* line 201, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
#loading-status .loading-text .dots span + span {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
/* line 208, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
#loading-status .loading-text .dots span + span + span {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -ms-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}
/* line 218, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
#loading-status .btn {
  margin-top: 0.2em;
}

/* line 226, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
#ripple-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* line 232, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
#intro-text {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 20em;
  margin-left: -10em;
  margin-top: -4em;
  padding: 1.5em;
  z-index: 1;
  font: 24px/1.3 "sf_cartoonist_hand", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  color: #504D40;
  text-shadow: 0 0 10px white;
}

/* line 252, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
#page-quantized-volume {
  padding: 10%;
  font-size: 20px;
}
/* line 257, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
#page-quantized-volume .desc {
  width: 80%;
  margin: 2em auto 3em;
}
/* line 263, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
#page-quantized-volume .col p {
  font-size: 0.85em;
  width: 300px;
  height: 150px;
  margin: auto;
}
/* line 271, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
#page-quantized-volume input {
  display: block;
  width: 80%;
  margin: 1em auto;
}
/* line 276, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
#page-quantized-volume canvas {
  display: block;
  width: 300px;
  margin: auto;
  border: #444;
  background: #333;
}

/* line 287, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
#page-fourier-sum .vis {
  margin: 3.75em auto;
}
/* line 290, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
#page-fourier-sum .desc {
  margin-top: 4em;
  margin-left: 4em;
}

/* line 297, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
#page-uncertainty-principal {
  padding: 10%;
}
/* line 305, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
#page-uncertainty-principal .vis {
  margin: 0 auto 4em;
}
/* line 309, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
#page-uncertainty-principal .video {
  width: 100%;
}

/* line 315, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
#interactions {
  margin: auto;
}
/* line 319, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
#interactions .label {
  font: 30px/1 Helvetica, Arial;
  font-family: 'Cutive Mono', serif;
  font-family: 'Montaga', serif;
  font-family: 'Marcellus', serif;
}

/* line 327, /Users/wellcaffeinated/Documents/github/standard-model-explorer/app/library/styles/site.scss */
.description {
  width: 600px;
  margin: auto;
}
